
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" >Pronostics Halim</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active"><a routerLink="/home">Home</a></li>
     <li routerLinkActive="active"><a routerLink="/home">Resultats Pronostics</a></li>
      <li routerLinkActive="active"><a routerLink="/authenPro">Connexion</a></li>
      <li routerLinkActive="active"><a routerLink="/home">Creer un Compte</a></li>

    </ul>
  </div>
</nav>

<img src="../../assets/images/coupe.PNG" class="img-rounded" alt="Coupe du monde" style="width:100%">
<img src="../../assets/images/cdm.jpg" class="img-rounded" alt="Coupe du monde2" style="height:50%; width:100%">